<div class="history_view" ng-controller="controller.records.pedometer_history">

	<!-- 页面头部编辑、取消按钮 -->
	<div class="record_history_title row history_edit_text">
		<span class="col-xs-3 col-xs-offset-9 text-center" ng-click="toggle()"> {{status}}</span> 
	</div>
	
	<div scroller-box class="full_screen wxbg" data-iscroll-instance="walkHistoryScroller">
	<div class="container-fluid history_box" id="pullUp">
		<!-- 页面主题内容-两级repeat循环：分别为日期循环和该日期下的记录详情循环 -->
		<div class="record_history_content" ng-repeat="record in history">
			<div class="record_history_content_date row" ng-if="record.datas.length>0">
				<div class="col-xs-8 col-offset-1 text-left">{{record.time}}</div>
			</div>
			
			<!-- 详情循环 -->
			<div ng-repeat="detail in record.datas">
					<div class="record_history_content_detail row" ng-click="check(detail);">
					<div class="his_choose col-xs-2">
						<!-- 单选框 -->
						<div class="roundedOne" ng-hide="edit">
							<input type="checkbox" class="check" id="{{detail.id}}"	name="check" value="{{detail.id}}"/> 
							<label class="roundedTwo" for="{{detail.id}}"></label>
						</div>
					</div>
					<div class="col-xs-2">{{detail.measurementDate | substringFilter :11:16}}</div>
					<div class="col-xs-2 default_color" >{{detail.steps}}<br><span class="record_history_unit">步</span></div>
					<div class="col-xs-2 default_color" >{{detail.distance}}<br><span class="record_history_unit">公里</span></div>
					<div class="col-xs-3 default_color" >{{detail.calories}}<br><span class="record_history_unit">大卡</span></div>
				</div>
			</div>
		</div>
		
		
		<!-- 没有更多记录 -->
		<div class="record_history_end row">
			<div class="col-xs-6 col-xs-offset-3 text-center">{{message}}</div>
		</div>
		</div>
	</div>
	<!-- 删除按钮 -->
	<div class="record_history_delete row navbar-fixed-bottom" ng-hide="edit" ng-click="deleteById()">
		<div class="col-xs-12 history_del_text text-center">删除</div>
	</div>

</div>