<!--  scroller-box full_screen -->
<div class="healthrecord_bprisk_detail_view" ng-controller="controller.healthrecord.bprisk.detail">
	
	
	<!-- 报告container begin -->
	<div scroller-box class="container-fluid setup-content full_screen" id="report"><!--  -->
		<div class="row setup-content-header" style="padding-left:15px;padding-right: 15px;">
			<h4 class="h4-E3A658">高血压风险评估报告</h4>
			<h6 class="h6-C0C0C1">日期 {{report.created|defaultValueFilter : '怎么没日期?' | date : 'yyyy年MM月dd日'}}</h6>
		</div>
		<div scroller-box class="row setup-content-body form-horizontal">
			<!-- 报告begin -->
			<div class="form-group">
				<div class="col-xs-3 col-sm-3 col-md-3"><img wx-img wx-img-src="member.headimgurl" class="img img-circle" style="width: 60px;height: 60px;"/></div>
				<div class="col-xs-9 col-sm-9 col-md-9" style="padding-top: 20px;">{{member.name}}</div>
			</div>
			<fieldset>
				<legend>基本信息</legend>
				<div class="form-group">
					<label class="col-sm-3 col-xs-3 col-md-3">性别:</label>
					<div class="col-sm-3 col-xs-3 col-md-3">{{member.sex==2?'女':'男'}}</div>
					<label class="col-sm-3 col-xs-3 col-md-3">年龄:</label>
					<div class="col-sm-3 col-xs-3 col-md-3">{{member.age}} 岁</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">身高:</label>
					<div class="col-xs-3 col-sm-3 col-md-3">{{member.height}} cm</div>
					<label class="col-xs-3 col-sm-3 col-md-3">体重:</label>
					<div class="col-xs-3 col-sm-3 col-md-3">{{member.weight}} kg</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">腰围:</label>
					<div class="col-xs-3 col-sm-3 col-md-3">{{member.waist}} cm</div>
					<label class="col-xs-3 col-sm-3 col-md-3">BMI:</label>
					<div class="col-xs-3 col-sm-3 col-md-3">{{member.BMI}}</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>心脑血管风险评估</legend>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">血压:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<span>{{report.bpAvg}}</span>&nbsp;mmHg<span class="explain"> &nbsp;&nbsp;(最近30天内平均血压)</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">心血管的危险因素:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<!-- 危险因素begin -->
				   	 	{{report.riskElement | joinFilter:'、':'无'}}
						<!-- 危险因素end -->
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">并存的临床情况（ACC）:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<!-- 危险因素begin -->
				   	 	{{report.acc | joinFilter:'、':'无'}}
						<!-- 危险因素end -->
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">糖尿病:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<!-- 危险因素begin -->
				   	 	{{report.sugarDiabetes | joinFilter:'、':'无'}}
						<!-- 危险因素end -->
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">靶器官的损害（TOD）:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<!-- 危险因素begin -->
				   	 	{{report.tod | joinFilter:'、':'无'}}
						<!-- 危险因素end -->
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 col-md-3">危险分级:</label>
					<div class="col-xs-9 col-sm-9 col-md-9">{{report.bpLevel}}({{report.riskLevel}}组)</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>心脑血管危险统计:</legend>
				<p>{{report.diseaseProbability}}</p>
			</fieldset>
			<fieldset>
				<legend>降压目标值:</legend>
				<p>{{report.treatmentGoal}}</p>
			</fieldset>
			<fieldset>
				<legend>治疗建议:</legend>
				<p>{{report.treatmentPlan}}</p>
			</fieldset>
			
			<!-- 报告end -->
		</div>
		<br/><br/><br/><br/>
	</div>  
	<!-- 报告container end -->
	<footer class="setup-content-footer">
		<a class="col-xs-6 text-left" ng-click=""></a>
		<a class="col-xs-6 text-right" ng-click="goHealthRecordBpRiskList()">关闭&nbsp;&nbsp;<i class="fa fa-angle-right fa-1x"></i></a>
	</footer>
</div>