<div class="healthrecord_bprisk_list_view" ng-controller="controller.healthrecord.bprisk.list">

	<div scroller-box class="full_screen wxbg">
		<div class="container-fluid hblv_box">
			<div class="row" ng-repeat="report in reports">
				<div class="col-xs-12">
					<div class="row border_bottom">
						<span class="col-xs-12">
							<div class="title">{{report.time}}年报告</div>
						</span>
					</div>
					<div class="row border_bottom hblv_item" ng-repeat="data in report.datas" ng-click="toDetail(data.id)">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-10">
									<span>{{data.created}}月份风险评估</span>
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<br> <span class="hblv_info col-xs-12">{{info}}</span>
			</div>
		</div>
	</div>
</div>
