<div class="account_index_view full_screen" ng-controller="controller.account.index">

	<div scroller-box class="list_scroller_box wxbg">
		<div class="container-fluid list_box">
			<div class="row" ng-repeat="orderitem in accountOrders">
				<div class="col-xs-12">{{orderitem.mealId}}{{orderitem.quantity}}</div>
			</div>
			<!-- 未点餐 -->
			<div ng-show="accountOrders && accountOrders.length == 0" class="row">
				<div class="col-xs-12">你还没有点餐。</div>
			</div>
			<div ng-show="!accountOrders" class="row">
				<div class="col-xs-12">正在加载中。</div>
			</div>
		</div>
	</div>

	<!-- 点菜 -->
	<div class="order_maal_box border_top container-fluid">
		<div class="row">
			<div class="btn btn-success  col-xs-10 col-xs-offset-1" ng-click="orderMeal()">点菜</div>
		</div>
	</div>
</div>