<div class="member_setting_info " ng-controller="controller.member.info">
	<div scroller-box class="full_screen wxbg">
		<div class="container-fluid">
			<div class="row padding_top_2">
				<div class="col-xs-10 col-xs-offset-1 center">
					<img wx-img wx-img-src="member.headimgurl" class="img img-circle" def-img def-img-src="img[member.sex]" ng-click="addHeadimg()">
				    <div class="glyphicon glyphicon-camera headimg_set" aria-hidden="true"></div>
				</div>
			</div>
			<div class="row member_info_box border_top">
				<div class="col-xs-12">
					<member-text name="姓名" member-value="member.name" ng-click="input(1)"></member-text>
					<member-text name="性别" member-value="member.sex==2?'女':'男'" ng-click="radio()"></member-text>
<!-- 					出生 -->
					<div class="row member_info_item text border_bottom date_box">
                        <span class="col-xs-3 text_2">出生</span>
                        <span class="col-xs-8 right text_3 member_name">{{member.birthday | defaultValueFilter : '请选择...' | date : 'yyyy年MM月dd日'}}</span>
	                    <div class="center width">
	                        <span class="glyphicon glyphicon-menu-right text_3" aria-hidden="true"></span>
	                    </div>
	                    <input type="text" mobiscroll mobiscroll-type="date" ng-blur="toclick()"  class="date_input" data="member.birthday"/>
                    </div>
<!--                     体重 -->
					<div class="row member_info_item text border_bottom date_box">
                        <span class="col-xs-3 text_2">体重</span>
                        <span class="col-xs-8 right text_3 member_name">{{member.weight?(member.weight+'kg'):'请选择...'}}</span>
                        <div class="center width">
                            <span class="glyphicon glyphicon-menu-right text_3" aria-hidden="true"></span>
                        </div>
                        <input type="text" mobiscroll mobiscroll-type="weight" ng-blur="toclick()" class="date_input" value="60" data="member.weight"/>
                    </div>
<!--                     身高 -->
                    <div class="row member_info_item text border_bottom date_box">
                        <span class="col-xs-3 text_2">身高</span>
                        <span class="col-xs-8 right text_3 member_name">{{member.height?(member.height+'cm'):'请选择...'}}</span>
                        <div class="center width">
                            <span class="glyphicon glyphicon-menu-right text_3" aria-hidden="true"></span>
                        </div>
                        <input type="text" mobiscroll mobiscroll-type="height" ng-blur="toclick()" class="date_input" value="165" data="member.height"/>
                    </div>
<!--                     腰围 -->
                    <div class="row member_info_item text border_bottom date_box">
                        <span class="col-xs-3 text_2">腰围</span>
                        <span class="col-xs-8 right text_3 member_name">{{member.waist?(member.waist+'cm'):'请选择...'}}</span>
                        <div class="center width">
                            <span class="glyphicon glyphicon-menu-right text_3" aria-hidden="true"></span>
                        </div>
                        <input type="text" mobiscroll mobiscroll-type="waist" ng-blur="toclick()" class="date_input" value="80" data="member.waist"/>
                    </div>
					<member-text name="社保号" member-value="member.insurcode? member.insurcode:'请填写...'" ng-click="input(2)"></member-text>
				</div>
			</div>
<!-- 			<div ng-if="!isCreate" class="row padding_top_2"  ng-click="getSharedMembers(member.id,member.name)"> -->
<!-- 				<div class="btn btn-success  col-xs-10 col-xs-offset-1 height_2">设置家人共享</div> -->
<!-- 			</div> -->
            <div ng-if="!isCreate" class="row padding_bottom_2 padding_top_2"  ng-click="deleteMember()">
                <div class="btn btn-danger  col-xs-10 col-xs-offset-1 height_2">删除成员</div>
            </div>
			<div ng-if="isCreate" class="row padding_top_2 padding_bottom_2" ng-click="addMember()">
				<div class="btn btn-success  col-xs-10 col-xs-offset-1 height_2">保存</div>
			</div>
		</div>
	</div>
</div>
