<div class="member_share_list_view" ng-controller="controller.member.share.list" onselectstart="return false">
<div scroller-box class="full_screen wxbg">
<div class="container-fluid">

	<!-- 分享成员列表 -->
    <div ng-if="shareMemberList.length != 0" class="row border_bottom title top_4"><span class="col-xs-12">关注<span class="member_name">{{name}}</span>的其他人:</span></div>
    
    <div memeber-list class="item" ng-repeat="account in shareMemberList">
    	<div class="row delOut">
    		<div class="col-xs-12 border_bottom delIn">
		        <div  class="col-xs-3 top_2"><img ng-src="{{account.headimgurl}}" onError="this.src='/static/common/img/default_member.jpg';" class="img"></div>
		        <div  class="col-xs-9 top_3"><span>{{account.nickname}}</span></div>
		        <div class="delInBtn text-center border_bottom"  ng-click="deleteShareMember($index)"><b>删&nbsp;除&nbsp;&nbsp;&nbsp;</b></div>
    		</div>
    	</div>
    </div>
    
    <!-- 标注信息 -->
    <div ng-if="shareMemberList.length != 0" class="row top_2 bottom">
        <div class="col-xs-12">家庭代表是该成员的管理者，其他关注者只有查看权限，可通过页面右上角的分享菜单邀请更多家人关注。</div>
    </div>
    
     <div ng-if="shareMemberList.length == 0" class="row top_2 bottom">
        <div class="col-xs-12">暂无关注<span class="member_name">{{name}}</span>的其他人，可通过微信右上角的【发送给朋友】分享菜单邀请更多家人关注。</div>
    </div>
    
	<!-- 分享按钮 -->
<!--     <div class="row top_4 bottom"> -->
<!--         <div class="col-xs-10 col-xs-offset-1 btn btn-success" ng-click="addShareMember()">分享给其他人</div> -->
<!--     </div> -->
</div>
</div>
</div>