<div class="member_share_qrcode_view" ng-controller="controller.member.share.qrcode" onselectstart="return false">
	<div scroller-box class="full_screen wxbg">
		<div class="container-fluid">
		
			<div class="row top_2">
				<div class="col-xs-12 describe">用微信扫一扫接收共享成员</span>
			</div>
			
			<div class="row">
				<HR class="hr" >
			</div>
			
			<div class="row top_1">
				<div class="col-xs-12 align_center detail">二维码1小时内有效<br/> 长按图片识别图中二维码</div>
			</div>
			
			<div class="row top_1">
				<div class="col-xs-10 col-xs-offset-1"> <img class="img" ng-src="{{qrcode_pic_url}}"/></div>
			</div>
			
			<!-- 成员信息 begin -->
			<div class="row top_2">
				<div class="col-xs-6 col-xs-offset-3 align_left detail">{{member.name}}</div>
				<div class="col-xs-6 col-xs-offset-3 align_left detail">家庭代表：{{member.nickName}}</div>
			</div>
			<!-- 成员信息 end -->
			
		</div>
	</div>
</div>