<div class="doctor_index_view" ng-controller="controller.doctor.index"  onselectstart="return false">

    <div scroller-box class="wxbg full_screen">
    
    	<div class="container-fluid doctor_index_view_box" ng-if="doctor">
    	
			<div id="doctor" class="row border_top border_bottom" ng-click="goDoctorInfo()">
				<div class="col-xs-4 ">
<!-- 				<img id="doctor_img" class="img-circle" ng-src="{{doctor.headimgurl|defaultValueFilter:'/static/common/img/default_member.jpg'}}"  onError="this.src='/static/common/img/default_member.jpg';" /> -->
				<img id="doctor_img" class="img-circle" src={{doctor.headimgurl}} />
				</div>
				<div class="col-xs-6 top-0-3">
					<div class="row doctor_name"><b>{{doctor.name|defaultValueFilter:'乐心医生'}}</b>&nbsp;&nbsp;<sapn ng-class="{true: 'approved', false: 'approve'}[{{doctor.status|approveFilterTwo}}]">{{doctor.status|approveFilter}}</span></div>
					<div class="row doctor_hospital">{{doctor.departments|defaultValueFilter:'未填写'}}&nbsp;&nbsp;{{doctor.hospital|defaultValueFilter:'未填写'}}</div>
				</div>
				<div id="get_info" class="col-xs-1 glyphicon glyphicon-menu-right" ></div>
			</div>
			
			<div id="ask_for" class="row border_bottom">
				&nbsp;&nbsp;选择为谁咨询医生
			</div>
			<div id="member" class="row border_bottom" ng-repeat="member in members" ng-click="goMemberChat(member.id)">
				<div class="col-xs-3"><img class="img-circle parent_img" src={{member.headimgurl}} /></div>
				<div class="col-xs-6 member_name">{{member.name}}</div>
				<div class="col-xs-1 col-xs-offset-1 glyphicon glyphicon-menu-right top-1-5"></div>
			</div>
		</div>
		
	
		
	</div>
</div>