
<div class="doctor_relation_view"
	ng-controller="controller.doctor.relation" onselectstart="return false">

	<div scroller-box class="wxbg full_screen">
		<div class="container-fluid doctor_index_view_box">
			<div class="row">&nbsp;</div>
			<div class="row" id="relation">
				<button type="button"
					class="btn btn-success col-xs-10 col-xs-offset-1"
					ng-click="createRelation()">关联医生</button>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div id="recommend" class="col-xs-10 col-xs-offset-1">推荐医生信息</div>
			</div>
		</div>
	</div>
</div>