<div class="healthrecord_index_view" ng-controller="controller.healthrecord.index">

	<div scroller-box class="wxbg full_screen">
		<div class="container-fluid box">
			<!-- 成员信息 -->
			<!-- 
			<div class="row member border_bottom border_top content" ng-click="goMemberInfo()">
				<div class="col-xs-3 top_2">
					<img ng-src="{{healthRecord.member.headimgurl}}" onError="this.src='/static/common/img/default_member.jpg';" class="img img-rounded" />
				</div>
				<div class="col-xs-7 top">
					<span><div class="member_name">{{healthRecord.member.name}}</div>{{healthRecord.member.sex ==2 ? '女':'男'}}，{{healthRecord.member.birthday | ageFilter}}岁</span>
				</div>
				<span class="glyphicon glyphicon-menu-right col-xs-2 top_1" aria-hidden="true"></span>
			</div>
			 -->
			<!-- 生活习惯 -->
			<div class="row title">
				<div class="col-xs-12">
						<span>不良生活习惯</span>
				</div>
			</div>
			<div class="row content border_bottom" ng-click="chooseHabits()">
				<span class="col-xs-10 overflowContent">{{healthRecord.habits | joinFilter : '、' : '无' : 'text' }}</span> 
				<span class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>
			<!-- 过敏史 -->
			<div class="row title">
				<div class="col-xs-12">
						<span>过敏史</span>
				</div>
			</div>
			<div class="row content border_bottom" ng-click="chooseAllergy()">
				<span class="col-xs-10 overflowContent">{{healthRecord.allergyHistory | joinFilter : '、' : '无' : 'text' }}</span>
				<span class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>
			<!-- 既往史 -->
			<div class="row title">
				<div class="col-xs-12">
						<span>既往史</span>
				</div>
			</div>
			<div class="row content border_bottom" ng-click="chooseMedical()">
				<span class="col-xs-10 overflowContent">{{healthRecord.medicalHistory | joinFilter : '、' : '无' : 'text' }}</span>
				<span class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>

			<!-- 辅助化检查（图片） -->
			<div class="row title">
				<span class="col-xs-12">化验、辅助检查</span>
			</div>
			<div class="row content border_bottom" ng-click="goAuxiliary()">
				<div class="col-xs-10 auxiliary">
					<div class="pull-left auxiliary_box"  ng-repeat="auxiliary in healthRecord.lastestAuxiliary">
						<img wx-img wx-img-src="auxiliary.url" onError="this.src='/static/common/img/add.png';" class="auxiliary_img img-thumbnail"/> 
						<div class="loading auxiliary_img auxiliary_loading img-thumbnail" ng-show="auxiliary.loading"></div>
					</div>
					<img src="/static/common/img/add.png" onError="this.src='/static/common/img/add.png';" class="auxiliary_img" ng-click="addAuxiliary($event)"/>
				</div>
				<span class="glyphicon glyphicon-menu-right col-xs-2 top_1" aria-hidden="true"></span>
			</div>
			<!-- 定期报告 -->
			<div class="row title">
				<span class="col-xs-12">定期报告</span>
			</div>
			<!-- 高血压风险评估 -->
			<div class="row content" ng-click="goHighBpRiskReport()">
				<span class="col-xs-6 glyphicon glyphicon-file">&nbsp;高血压风险评估</span> <span class="col-xs-4 text-right">{{healthRecord.highBpRiskReportsLatestTime|defaultValueFilter:'无'|date:'yyyy-MM-dd'}}</span> <span ng-if="healthRecord.highBpRiskReportsLatestTime != null" class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>
			<!-- 体检报告 -->
			<div class="row content border_bottom" ng-click="goMedicalReport()">
				<span class="col-xs-6 glyphicon glyphicon-file">&nbsp;体检报告</span> <span class="col-xs-4 text-right">{{healthRecord.medicalReportLatestTime|defaultValueFilter:'无'|date:'yyyy-MM-dd'}}</span> <span ng-if="healthRecord.medicalReportLatestTime != null" class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>
			<!-- 问诊记录 -->
			<div class="row title">
				<span class="col-xs-9">问诊记录</span>
<!-- 				<span class="col-xs-3 text-right" ng-if="healthRecord.latestInquiryRecord" ng-click="goInquiryRecord()">更多</span> -->
			</div>
<!-- 			<div class="row content border_bottom" ng-click="goInquiryRecord(healthRecord.latestInquiryRecord.id)" ng-if="healthRecord.latestInquiryRecord"> -->
			<div class="row content border_bottom" ng-click="goInquiryRecord()" ng-if="healthRecord.latestInquiryRecord">
				<span class="col-xs-12">{{healthRecord.latestInquiryRecord.inquiryDate|defaultValueFilter:''|date:'yyyy-MM-dd HH:mm'}}</span><br><span class="col-xs-10 overflowContent">{{healthRecord.latestInquiryRecord.suggest|defaultValueFilter:'无建议...'}}</span> <span class="glyphicon glyphicon_top glyphicon-menu-right col-xs-2" aria-hidden="true"></span>
			</div>
			<div class="row content border_bottom" ng-if="!healthRecord.latestInquiryRecord">
				<span class="col-xs-12">无</span>
			</div>
		</div>
	</div>
</div>
