.dialog {
	
}

.dialog .list-group, .dialog ul {
	margin-bottom: 0;
}

.dialog_alert {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.dialog .modal-content {
	width: 80%;
}
.dialog .modal_input{
	width: 100%;
}
.dialog .text_width {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 10em;
}

.dialog-footer {
	height: 3.5em;
	padding-top: 0.5em;
}

.dialog_text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	opacity: 0.4;
	filter: Alpha(Opacity = 40);
}

.dialog_show {
	display: block;
	opacity: 1;
	z-index: 1024;
}

.dialog_close {
	display: none;
	opacity: 0;
}

.dialog .input-group-addon, .dialog .form-control {
/* 	border-radius: 0; */
	height: 3.5em;
}

.dialog .scroller_max_h {
	overflow: hidden;
	max-height: 201px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #ddd;
}

.dialog .dialog_input {
	padding: 0.5em;
}

.dialog .input {
	padding: 0;
}

/* .dialog .image { */
/* 	text-align: center; */
/* } */

/* .dialog .image p { */
/* 	margin: 0em; */
/* } */
.dialog .modal-footer {
	height: 3.5em;
	padding-top: 0.5em;
}

.dialog .modal-footer .btn {
	width: 6em;
}

.dialog .alert .ng-invalid, .dialog .alert_unit .ng-invalid {
	border-color: #E81A21;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 57, 64, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 57, 64, 0.6);
}

/* .dialog .qrcode_img{ */
/* 	width:100%; */
/* } */
.dialog .options_list {
	overflow-y: scroll;
	overflow-x: hidden;
}

.dialog .state-icon {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15em;
	height: 1.2em;
}

.dialog .list-group-item {
	border: 0;
	border-top: 1px solid #ddd;
}

.dialog .list-group-item:first-child {
	border-top: 0;
}

::-webkit-scrollbar {
	width: 0.1em;
}

/*选中背景色*/
.dialog .checked_background_color {
	background-color: #d9edf7;
}

/*选中字体色*/
.dialog .checked_text_color {
	color: #31708f;
	font-weight: bold;
}

.dialog .transition-timer-carousel .carousel-caption {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 4%, rgba(0, 0, 0, 0.5) 32%, rgba(0, 0, 0, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(4%, rgba(0, 0, 0, 0.1)), color-stop(32%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 4%, rgba(0, 0, 0, 0.5) 32%, rgba(0, 0, 0, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 4%, rgba(0, 0, 0, 0.5) 32%, rgba(0, 0, 0, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 4%, rgba(0, 0, 0, 0.5) 32%, rgba(0, 0, 0, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 4%, rgba(0, 0, 0, 0.5) 32%, rgba(0, 0, 0, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}

.dialog .transition-timer-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}

@media ( min-width : 970px) {
	/* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}

.dialog .transition-timer-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}

.dialog .transition-timer-carousel .carousel-control {
	z-index: 11;
}

.dialog .transition-timer-carousel .transition-timer-carousel-progress-bar {
	height: 5px;
	background-color: #5cb85c;
	width: 0%;
	margin: -5px 0px 0px 0px;
	border: none;
	z-index: 11;
	position: relative;
}

.dialog .transition-timer-carousel .transition-timer-carousel-progress-bar.animate {
	/* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
	-webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;
}