<div class="device_user_view" ng-controller="controller.device.user" onselectstart="return false">
	
	<div scroller-box class="full_screen wxbg">
	
		<div class="container-fluid">
			
			<!-- 最多展示两行（血压计） -->
			<div ng-if="show_two">
			
				<div class="duv_device_item row" ng-click="openOption(1,deviceUserOne.memberId,deviceUserTwo.memberId)">
					<div class="col-xs-3">
						<img class="img" ng-src="/static/common/img/default_father.jpg" onError="this.src='/static/common/img/default_member.jpg';" >
					</div>
					<div class="member_name col-xs-7">{{deviceUserOne.name}}</div>
					<div class="in glyphicon glyphicon-menu-right col-xs-1"></div>
				</div>
				
				<div class="duv_device_item row" ng-click="openOption(2,deviceUserOne.memberId,deviceUserTwo.memberId)">
					<div class="col-xs-3">
						<img class="img" ng-src="/static/common/img/default_mother.jpg" onError="this.src='/static/common/img/default_member.jpg';" >
					</div>
					<div class="member_name col-xs-7">{{deviceUserTwo.name}}</div>
					<div class="in glyphicon glyphicon-menu-right col-xs-1"></div>
				</div>
				
			</div>
			<!-- 展示两行end -->
			
			
			<!-- 只展示一行（运动手环）-->
			<div ng-if="show_one">
				<div class="duv_device_item row" ng-click="openOption(1,deviceUserOne.memberId,deviceUserTwo.memberId)">
					<div class="col-xs-3">
						<img class="img" ng-src="{{deviceUserOne.headimgUrl == null?'/static/common/img/default_member.jpg':deviceUserOne.headimgUrl}}" onError="this.src='/static/common/img/default_member.jpg';" >
					</div>
					<div class="member_name col-xs-7">{{deviceUserOne.name}}</div>
					<div class="in glyphicon glyphicon-menu-right col-xs-1"></div>
				</div>
			</div>
			<!-- 只展示一行（运动手环）end-->
			
			
			<!-- 体重秤展示所有成员 -->
			<div ng-if="show_all" ng-repeat="member in members">
				<div class="duv_device_item row">
					<div class="col-xs-3">
						<img class="img" ng-src="{{member.headimgurl}}" onError="this.src='/static/common/img/default_member.jpg';" >
					</div>
					<div class="member_name col-xs-7">{{member.name}}</div>
					<!-- <div class="in glyphicon glyphicon-menu-right col-xs-1"></div>  -->
				</div>
			</div>
			
			
			
		</div>	
		
	</div>

</div>


