<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 注意：每个标签必须按顺序写，否则会提示错误 -->
<configuration>

	<!-- jdbc属性配置文件 -->
	<properties resource="env-config/jdbc.properties" />

	<!-- 设置缓存和延迟加载等等重要的运行时的行为方式 -->
	<settings>

		<!-- 设置超时时间，它决定驱动等待一个数据库响应的时间 -->
		<setting name="defaultStatementTimeout" value="25000" />

		<!-- 对于批量更新操作缓存SQL以提高性能 -->
<!-- 		<setting name="defaultExecutorType" value="BATCH" /> -->

		<!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
		<setting name="autoMappingBehavior" value="FULL" />

		<!-- 允许使用列标签代替列名 -->
		<setting name="useColumnLabel" value="true" />

		<!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
		<setting name="multipleResultSetsEnabled" value="true" />

		<!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
		<setting name="aggressiveLazyLoading" value="false" />

		<!-- 全局映射器启用缓存 -->
		<setting name="cacheEnabled" value="true" />

		<!-- 查询时，关闭关联对象即时加载以提高性能 -->
		<!--<setting name="lazyLoadingEnabled" value="true" /> -->

	</settings>

	<!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径 -->
	<typeAliases>
		<package name="com.lifesense.framework.demo.model.entity" />
	</typeAliases>

	<!-- 插件 -->
	<plugins>
		<!-- 自动生成CRUD及ResultMap -->
		<plugin interceptor="com.lifesense.framework.model.interceptor.generatesql.AutoMapperInterceptor"></plugin>
	</plugins>

	<environments default="development">
		<!-- environment 元素体中包含对事务管理和连接池的环境配置 -->
		<!-- environment 元素体中包含对事务管理和连接池的环境配置 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- <transactionManager type="com.lifesense.framework.model.util.MyTransactionFactory" /> -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<!-- poolMaximumActiveConnections 在任意时间存在的活动(也就是正在使用)连 接的数量 -->
				<property name="poolMaximumActiveConnections" value="${poolMaximumActiveConnections}" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="SELECT 1;" />
				<property name="poolPingConnectionsNotUsedFor" value="3600000" />
			</dataSource>
		</environment>
		<environment id="jta">
			<transactionManager type="com.lifesense.framework.model.util.MyTransactionFactory">
			</transactionManager>
			<dataSource type="JNDI">
				<property name="data_source" value="jdbc/lifesense-framework-demo-model-ds" />
			</dataSource>
		</environment>

	</environments>

	<!-- 非注解的sql映射文件配置，如果使用mybatis注解，该mapper无需配置，但是如果mybatis注解中包含@resultMap注解，则mapper必须配置，给resultMap注解使用 -->
	<mappers>
		<package name="com.lifesense.framework.demo.model.mapper" />
	</mappers>

</configuration>