<div class="handbook_view" ng-controller="controller.handbook.index">
	<div scroller-box class="full_screen wxbg">
		<div class="container-fluid">
		
			<div class="row">
				<div><img class="img img-responsive" ng-src="{{banner}}"></div>
			</div>
		
			<div class="row hv_item border_bottom" ng-repeat="nav in navs" ng-click="gotoPicture('{{nav.href}}', $index)">
				<div class="col-xs-3"><img class="img img_icon" ng-src="{{nav.icon}}" /></div>
				<div class="col-xs-7">{{nav.text}}</div>
				<div class="col-xs-1 arrow glyphicon glyphicon-menu-right"></div>
			</div>
		</div>	
	</div>
</div>