<div class="handbook_picture_view" ng-controller="controller.handbook.picture">
	
	<div scroller-box class="full_screen">
	
		<div class="container-fluid">
		
		    <!-- 操作指南 -->
			<div class="row"  ng-if="type == '0'" ng-repeat="ob in oprbook">
				<div> <img class="img img-responsive" ng-src="{{ob.pic}}" > </div>
			</div>
			
			<!-- FAQ -->
			<div class="row"  ng-if="type == '1'" ng-repeat="fq in faq">
				<div><img class="img img-responsive" ng-src="{{fq.pic}}" ></div>
			</div>
			
			<!-- 科普类知识 -->
			<div class="row"  ng-if="type == '2'" ng-repeat="kp in kepu">
				<div><img class="img img-responsive" ng-src="{{kp.pic}}" > </div>
			</div>
			
			<!-- 平台指引 -->
			<div class="row"  ng-if="type == '3'" ng-repeat="pf in platform">
				<div> <img class="img img-responsive" ng-src="{{pf.pic}}" > </div>
			</div>
			
		</div>	
		
	</div>
	
</div>


