<div class="risk_personal_view " ng-controller="controller.risk.personal">
	<div scroller-box class="full_screen wtbg">
		<div class="container-fluid">
			<div class="row padding_top_2 row_head_height">
				<div class="col-xs-10 col-xs-offset-1 center">
					<img wx-img wx-img-src="member.headimgurl" class="img img-circle" def-img def-img-src="img[member.sex]">
				</div>
			</div>
			<div class="row border_top padding_top_2">
			    <div class="row">
			    	<div class="col-xs-2 col-xs-offset-1 right bottom_border row_height">姓名</div>
			    	<div class="col-xs-3 bottom_border row_height"><input class="noboder" ng-model="member.name"></div>
			    	<div class="col-xs-2 right bottom_border row_height">性别</div>
			    	<div class="col-xs-3 bottom_border row_height"><input class="noboder" ng-model="member.sex==2?'女':'男'"></div>
			    </div>
			    <div class="row seprator"></div>
			    <div class="row">
			    	<div class="col-xs-2 col-xs-offset-1 right row_height bottom_border">生日</div>
			    	<div class="col-xs-3 row_height bottom_border"><input class="noboder" ng-model="member.birthday | date : 'yyyy年MM月dd日"></div>
			    	<div class="col-xs-2 right row_height bottom_border">体重</div>
			    	<div class="col-xs-3 row_height bottom_border"><input class="noboder" ng-model="member.birthday | date : 'yyyy年MM月dd日"></div>
			    </div>
			    <div class="row seprator"></div>
			    <div class="row">
			    	<div class="col-xs-2 col-xs-offset-1 right row_height bottom_border">身高</div>
			    	<div class="col-xs-3 row_height bottom_border"><input class="noboder" ng-model="member.weight"></div>
			    	<div class="col-xs-2 right row_height bottom_border">腰围</div>
			    	<div class="col-xs-3 row_height bottom_border"><input class="noboder" ng-model="member.waist"></div>
			    </div>
			</div>
			
			
			<div class="row padding_top_2">
				<div class="col-xs-3 right row_height ">高血压病史</div>
				<div class="col-xs-2 right row_height ">身高</div>
				<div class="col-xs-2 right row_height ">身高</div>
			</div>
			
			<div class="row padding_top_2">
				<div class="btn btn-success  col-xs-10 col-xs-offset-1 height_2" ng-click="addMember()">保存</div>
			</div>
		</div>
	</div>
</div>
