<div class="healthrecord_inquiry_detail_view" ng-controller="controller.inquiryDetail.index">

<div scroller-box class="full_screen wxbg" data-iscroll-instance="healthrecordInquiryDetailScroll">
		<div class="container-fluid hidv_box">

			<!--问诊对话-->
			<div class="row title">
				<div class="col-xs-8">问诊记录</div>
				<div class="xol-xs-4 inquiry_date">{{InquiryRecord.created|date:'yyyy-MM-dd'}}</div>
			</div>
			<div class="row border_top border_bottom">
				<chat-box class="hidv_chat_box" init-options="options" sender="sender" receiver="receiver"></chat-box>
<!-- 				<chat-box                       init-options="options" sender="sender" receiver="receiver"></chat-box> -->
			</div>
			
			<!--疾病诊断-->
			<div class="row title">
				<div class="col-xs-12">诊断疾病</div>
			</div>
			<div class="row hidv_content border_top border_bottom">
				<div class="col-xs-12">{{InquiryRecord.conclusion | defaultValueFilter:'无'}}</div>
			</div>

			<!--处理意见-->
			<div class="row title">
				<div class="col-xs-12">处理意见</div>
			</div>
			<div class="row hidv_content border_top border_bottom">
				<div class="col-xs-12">{{InquiryRecord.suggest | defaultValueFilter:'无'}}</div>
			</div>
			
		</div>
	</div>
</div>