<div class="inquiry_list_view" ng-controller="controller.inquiry.list">

<div scroller-box class="full_screen wxbg" data-iscroll-instance="inquiryListScroller">
		<div class="container-fluid ilv_box" id="pullUp">
			<!-- 头 -->
<!-- 			<div class="ilv_content row ilv_top border_bottom"> -->
<!-- 				<div class="col-xs-2"> -->
<!-- 					<img ng-src="{{member.headimgurl}}"> -->
<!-- 				</div> -->
<!-- 				<div class="col-xs-10">{{member.name}}</div> -->
<!-- 			</div> -->
			<!-- 如果没数据显示无问诊记录 -->
			<div class="ilv_content row not_data border_bottom" ng-if="inquiryRecordList.length==0">
				<div class="col-xs-12 text-center">无问诊记录</div>
			</div>
			<div class="row border_bottom" ng-repeat="inquiryRecord in inquiryRecordList">
				<div class="col-xs-12 title">{{inquiryRecord.time}}</div>
				<div class="col-xs-12">
					<div class="row ilv_content border_top" ng-repeat="inr in inquiryRecord.datas" ng-click="inquiryRecordIndex(inr.id)">
						<div class="col-xs-2">{{inr.inquiryDate | timeHourFilter}}</div>
						<div class="col-xs-8">建议 : {{inr.suggest}}</div>
						<div class="col-xs-1">
							<span class="glyphicon glyphicon-menu-right"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="inquiryRecordList.length"><span class="col-xs-8 col-xs-offset-3">{{msg}}</span></div>
		</div>
	</div>
	
</div>